<div class="row" ng-controller="singleMatchController as singleMatch" ng-init="singleMatch.loadSingleMatch()">
<!--<div ng-repeat="matches in singleMatch" >-->
    <div  class="match-details">
    <!--{{singleMatch.matchData}}-->
<ul>
<li>
<h2 style="text-align: center; border-bottom: 1px solid #333;padding-bottom:10px; ">Match Details</h2>

<div class="col-md-2 h-color">
     <p>Teams</p>
     <p>Score</p>
</div>


<div class="col-md-5">
<p class="max_height">{{singleMatch.matchData.team1.name}}</p>
<p><span ng-show="singleMatch.matchData.score1 === null">Data Not Available</span>{{singleMatch.matchData.score1}} </p>
<p><a href="#/match/{{singleMatch.matchData.team1.name}}" class="button">Team Stats</a></p>
</div> 
               
               
<div class="col-md-5">
<p class="max_height">{{singleMatch.matchData.team2.name}}</p>
<p><span ng-show="singleMatch.matchData.score2 === null">Data Not Available</span>{{singleMatch.matchData.score2}}</p>
<p><a href="#/match/{{singleMatch.matchData.team2.name}}" class="button">Team Stats</a></p>
</div>


<p class="match-date">Match Played On : {{singleMatch.matchData.date}} </p>
</li>
</ul>

</div>
</div>
